{% extends "network/newpost.html" %}
{% load static %}

{% block posts %}
    
    {% if profile %}
        <div id="profile-view">
            <div class="card mb-4 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>{{ profile.username }}</div>
                        </div>
                        <div class="col-md-6">
                            {% if user.is_authenticated and user.id != profile.id %}
                                {% if following == "following" %}
                                    <button class="btn btn-sm btn-primary mt-2" id="follow-user-button" data-profile_id="{{ profile.id }}" data-following="{{ following }}">Following</button>
                                {% else %}
                                    <button class="btn btn-sm btn-outline-primary mt-2" id="follow-user-button" data-profile_id="{{ profile.id }}" data-following="{{ following }}">Follow</button>
                                {% endif %}    
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="followers-count-div">followers {{ profile.followers.count }}</div>
                        </div>
                        <div class="col-md-6">
                            <div>following {{ profile.following.count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="post-list">
        <!-- <h3 id="post-list-heading">All Posts</h3>  -->
        
        {% for post in page_obj %}
            <div id="{{ post.id }}" class="card mb-4 bg-transparent text-center">
                <div class="card-body">
                    Posted by <a href="/profile/{{ post.user.id }}">{{ post.user.username }}</a> on {{ post.date_created }}
                    <div id="post-text-div">
                        <div id="post-text">{{ post.text }}</div>
                    </div>
                    <div id="post-buttons" class="row">
                        <div id="update-post-div" class="col-md-6">
                            {% if user.is_authenticated and user == post.user %}
                                <button class="btn btn-sm btn-outline-primary mt-2" id="update-post-button" data-post_id="{{ post.id }}">Edit</button>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {% if user.is_authenticated %}
                                <button class="btn btn-sm btn-outline-primary mt-2" id="like-post-button" data-post_id="{{ post.id }}">Likes {{ post.like_count }}</button>
                            {% else %}
                                <button class="btn btn-sm btn-outline-secondary mt-2" disabled>Likes {{ post.like_count }}</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <nav aria-label="Page navigation example" class="text-enter">
        <ul class="pagination justify-content-center">
            <!-- <span class="step-links"> -->
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                {% endif %}
        
                <span class="current">
                    <li class="page-item disabled"><a class="page-link" disabled>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li>
                </span>
        
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}
            <!-- </span> -->
        </ul>
    </nav>
    
    
    
{% endblock %}