{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div class="container" id="new-post-view">
        
        {% if user.is_authenticated %}
            <div id="new-post-view" class="card-column col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <button id="new-post-button" data-toggle-id="new-post" class="btn btn-sm btn-outline-primary mt-2">New Post</button>
                    </div>
                </div>
                <div class="card" id="new-post" hidden>
                    <!-- new-post-form -->
                    <form id="new-post-form">
                        <div class="card-body">
                            <textarea class="form-control" id="new-post-text" value="{{ post.text | default:'' }}"></textarea>
                        </div>
                        <div class="card-footer bg-transparent">
                            <input type="submit" class="btn btn-primary" id="save-post-button" data-action="save_post"></input>
                        </div>
                    </form>
                    <!-- new-post-form end -->
                </div>
            </div>  
        {% endif %}

    </div>
    
    <div class="container" id="post-list-view">

        {% block posts %}
        {% endblock %}
        
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript"> 
        var user = "{{user}}";
    </script>
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}