{% extends "auctions/layout.html" %}

{% block body %}
    <!-- listing data -->
    <div class="card mb-4 border-light">
        {% include "auctions/listingdata.html" %}
    </div>

    <!-- listing actions -->
    {% if user.is_authenticated %}
        {% if listing.active %}
            <div class="card-deck mb-4">
                <!-- bid -->
                <div class="card bg-transparent  text-center ">
                    <div class="card-body">
                        {% if user == bid_or_None.user %}
                            <p class="card-text">You are the highest bidder.</p>
                        {% elif bid_or_None %}
                            <p class="card-text"><strong>{{ bid_or_None.user }}</strong> is the highest bidder.</p>
                        {% else %}
                            <p class="card-text">No bids yet.</p>
                        {% endif %}
                    </div>
                    <div class="card-footer bg-transparent">
                        {% if listing.owner == user %}
                            <!-- close auction -->
                            <form class="row d-flex justify-content-center" action="{% url 'closeAuction' listing.id %}" method="post">
                                {% csrf_token %}
                                <div class="col-12 col-lg-6 col-xl-5">
                                    <button type="submit" class="btn btn-danger form-control mx-auto my-1">Close Auction</button>
                                </div>
                            </form>
                        {% else %}
                            {% if bid_form_or_None %}
                                <!-- place bid -->
                                <form class="row d-flex justify-content-center" action="{% url 'placeBid' listing.id %}" method="post">
                                    <div class="input-icon col-12 col-xs-5 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        {% csrf_token %}
                                        {{ bid_form_or_None.bid }}
                                        <i>£</i>
                                    </div>
                                    <div class="col-12 col-xs-5 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        <button type="submit" class="btn btn-info form-control mx-auto my-1">Place Bid</button>
                                    </div>
                                </form>
                            {% else %}
                                <!-- Maximum Bid Reached -->
                                <div>
                                    <p>The maximum bid has been reached.</p>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if message %}
                        <!-- bid changed message -->
                        <div class="error mt-2">{{ message }}</div>
                    {% endif %}
                    <!-- model form errors -->
                    {{ bid_form_or_None.bid.errors }}
                </div>

                <!-- watchlist -->
                <div class="card bg-transparent   text-center ">
                    <div class="card-body">
                        {% if listing in user.watchlist.all %}
                            {% if listing.watching.count > 2 %}
                                <p class="card-text">You and {{ listing.watching.count|add:"-1" }} other users are watching this auction.</p>
                            {% elif listing.watching.count > 1 %}
                                <p class="card-text">You and {{ listing.watching.count|add:"-1" }} other user are watching this auction.</p>
                            {% else %}
                                <p class="card-text">You are the only user watching this auction.</p>
                            {% endif %}
                        {% else %}
                            {% if listing.watching.count > 1 %}
                                <p class="card-text">{{ listing.watching.count }} users are watching this auction.</p>
                            {% elif listing.watching.count == 1 %}
                                <p class="card-text">{{ listing.watching.count }} user is watching this auction.</p>
                            {% else %}
                                <p class="card-text">No-one is watching this auction.</p>
                            {% endif %}
                        {% endif %}
                    </div>
                    <!-- toggle watchlist -->
                    <div class="card-footer bg-transparent">
                        <form class="row d-flex justify-content-center" action="{% url 'toggleWatchlist' listing.id %}" method="post">
                            {% csrf_token %}
                            <div class="col-12 col-lg-7 col-xl-6">
                                {% if listing in user.watchlist.all %}
                                    <button type="submit" class="btn btn-light border-info text-info form-control mx-auto my-1">Remove from Watchlist</button>
                                {% else %}
                                    <button type="submit" class="btn btn-light border-info text-info form-control mx-auto my-1">Add to Watchlist</button>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <!-- auction closed -->
            <div class="card mb-4 bg-transparent border-danger text-center">
                <div class="card-header">
                    <h3>Auction Closed.</h3>
                    {% if bid_or_None == NoneType %}
                        <h5>Unsold - There were no bids on this auction.</h5>
                    {% elif user == bid_or_None.user %}
                        <h5><strong>YOU</strong> won this auction!</h5>
                    {% else %}
                        <h5><strong>{{ bid_or_None.user }}</strong> won this auction.</h5>
                    {% endif %}
                </div>
            </div>
                
        {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
        <!-- add comment -->
        <div class="card mb-4 bg-transparent">
            <form action="{% url 'addComment' listing.id %}" method="post">
                <div class="row card-body">
                    {% csrf_token %}
                    {{ comment_form }}
                </div>
                <div class="card-footer bg-transparent">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <button type="submit" class="btn btn-light border-info text-info form-control mx-auto my-1">Post Comment</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

    {% if comments.count > 0 %}
        <!-- comments count -->
        <h4>Comments ({{ comments.count }})</h4>
    {% endif %}
    {% for comment in comments %}
        <!-- comments -->
        <div class="card mb-4 bg-light border-info">
            <h5 class="card-header border-info">{{ comment.user_name }}</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{ comment.date_created }}</h6>
                <p class="card-text">{{ comment.comment }}</p>
            </div>
        </div>
    {% endfor %}

    
    
{% endblock %}