{% extends "auctions/layout.html" %}

{% block body %}
    <h3>{{ listing.title }}</h3>
    
    <!-- listing data -->
    {% include "auctions/listingdata.html" %}

    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-6 col-lg-7">

                <!-- active listing -->
                {% if listing.active %}

                    <!-- highest bidder. -->
                    {% if user == bid_or_None.user %}
                        <p>You are the highest bidder.</p>
                    {% elif bid_or_None %}
                        <p>{{ bid_or_None.user }} is the highest bidder.</p>
                    {% endif %}

                    {% if listing.owner == user %}

                        <!-- close auction -->
                        <form action="{% url 'closeAuction' listing.id %}" method="post">
                            {% csrf_token %}
                            <!-- <input type="submit" value=""> -->
                            <button type="submit" class="btn btn-danger">Close Auction</button>
                        </form>
                    {% else %}

                        <!-- bid changed message -->
                        {% if message %}
                            <div>{{ message }}</div>
                        {% endif %}

                        <!-- place bid -->
                        <form class="form-inline" action="{% url 'placeBid' listing.id %}" method="post">
                            <div class="form-group input-icon">
                                {% csrf_token %}
                                {{ bid_form }}
                                <i>£</i>
                            </div>
                            <button type="submit" class="btn btn-danger">Place Bid</button>
                        </form>
                    {% endif %}

                <!-- listing is closed -->
                {% else %}

                    <div>Auction is closed.</div>
                    {% if user == bid_or_None.user %}
                        <div>YOU won this auction!</div>
                    {% else %}
                        <div>{{ bid_or_None.user }} won this auction.</div>
                    {% endif %}
                {% endif %}

                <!-- watchlist -->
                <form action="{% url 'toggleWatchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    {% if listing in user.watchlist.all %}
                        {% if listing.watching.count > 2 %}
                            <label for="all">You and {{ listing.watching.count|add:"-1" }} other users are watching this auction.</label>
                        {% elif listing.watching.count > 1 %}
                            <label for="all">You and {{ listing.watching.count|add:"-1" }} other user are watching this auction.</label>
                        {% else %}
                            <label for="all">You are the only user watching this auction.</label>
                        {% endif %}
                    {% else %}
                        {% if listing.watching.count > 1 %}
                            <label for="all">{{ listing.watching.count }} users are watching this auction.</label>
                        {% elif listing.watching.count == 1 %}
                            <label for="all">{{ listing.watching.count }} user is watching this auction.</label>
                        {% else %}
                            <label for="all">No-one is watching this auction.</label>
                        {% endif %}
                        <!-- <label for="all">{{ listing.watching.count }} watching this auction.</label> -->
                    {% endif %}

                    {% if listing in user.watchlist.all %}
                        <button type="submit" class="btn btn-primary">Remove from Watchlist</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary">Add to Watchlist</button>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endif %}

    <h4>Comments</h4>

    <!-- add comment -->
    {% if user.is_authenticated %}
        <form action="{% url 'addComment' listing.id %}" method="post">
            <div class="row">
                <div class="col-xs-0 col-md-2"></div>
                <div class="col-8">
                    {% csrf_token %}
                    {{ comment_form }}
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-success">Add Comment</button>
                </div>
            </div>
        </form>
    {% endif %}

    <!-- comments -->
    <ul>
        {% for comment in comments %}
            <div class="row">
                <div class="col-xs-0 col-md-2"></div>
                <div class="col-8">
                    <li>
                        <h5>{{ comment.user_name }}</h5>
                        <span>{{ comment.date_created }}</span>
                        <p>{{ comment.comment }}</p>
                    </li>
                </div>
                <div class="col-xs-0 col-md-2"></div>
            </div>
        {% endfor %}
    </ul>
    
{% endblock %}