{% extends "auctions/layout.html" %}

{% block body %}
    <h3>{{ listing.title }}</h3>
    
    {% include "auctions/listingdata.html" %}

    {% if user.is_authenticated %}
        
        <div class="card-deck">
            <div class="card bg-light">
                <div class="card-body">
                    {% if listing.active %}
                        {% if user == bid_or_None.user %}
                            <p class="text-muted">You are the highest bidder.</p>
                        {% elif bid_or_None %}
                            <p class="text-muted">{{ bid_or_None.user }} is the highest bidder.</p>
                        {% endif %}
                    {% else %}
                        <p class="text-muted">Auction is closed.</p>
                    {% endif %}
                </div>
                <div class="card-footer bg-transparent">
                    {% if listing.active %}
                        {% if listing.owner == user %}

                            <!-- close auction -->
                            <form action="{% url 'closeAuction' listing.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Close Auction</button>
                            </form>
                        {% else %}

                            <!-- bid changed message -->
                            {% if message %}
                                <div>{{ message }}</div>
                            {% endif %}

                            <!-- place bid -->
                            <form class="form-inline" action="{% url 'placeBid' listing.id %}" method="post">
                                <div class="form-group input-icon">
                                    {% csrf_token %}
                                    {{ bid_form }}
                                    <i>£</i>
                                </div>
                                <button type="submit" class="btn btn-primary">Place Bid</button>
                            </form>
                        {% endif %}

                    {% else %}
                        {% if user == bid_or_None.user %}
                            <div>YOU won this auction!</div>
                        {% else %}
                            <div>{{ bid_or_None.user }} won this auction.</div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="card bg-light">
                <form action="{% url 'toggleWatchlist' listing.id %}" method="post">
                    {% csrf_token %}

                    <div class="card-body">
                        {% if listing in user.watchlist.all %}
                            {% if listing.watching.count > 2 %}
                                <p class="text-muted">You and {{ listing.watching.count|add:"-1" }} other users are watching this auction.</p>
                            {% elif listing.watching.count > 1 %}
                                <p class="text-muted">You and {{ listing.watching.count|add:"-1" }} other user are watching this auction.</p>
                            {% else %}
                                <p class="text-muted">You are the only user watching this auction.</p>
                            {% endif %}
                        {% else %}
                            {% if listing.watching.count > 1 %}
                                <p class="text-muted">{{ listing.watching.count }} users are watching this auction.</p>
                            {% elif listing.watching.count == 1 %}
                                <p class="text-muted">{{ listing.watching.count }} user is watching this auction.</p>
                            {% else %}
                                <p class="text-muted">No-one is watching this auction.</p>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="card-footer bg-transparent">
                        {% if listing in user.watchlist.all %}
                            <button type="submit" class="btn btn-light border-primary text-primary">Remove from Watchlist</button>
                        {% else %}
                            <button type="submit" class="btn btn-light border-primary text-primary">Add to Watchlist</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="card bg-light border-success ">
            <form action="{% url 'addComment' listing.id %}" method="post">
                <h5 class="card-header bg-transparent">Add Comment</h5>
                <div class="card-body">
                    {% csrf_token %}
                    {{ comment_form }}
                </div>
                <div class="card-footer bg-transparent">
                    <div class="text-right">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
                
            </form>
        </div>
    {% endif %}

    <h4>Comments</h4>
    {% for comment in comments %}
        <div class="card bg-light ">
            <h5 class="card-header">{{ comment.user_name }}</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{ comment.date_created }}</h6>
                <p class="card-text">{{ comment.comment }}</p>
            </div>
        </div>
    {% endfor %}

    
    
{% endblock %}