{% extends "auctions/layout.html" %}

{% block body %}

<h2>Create Listing</h2>

<form class="mb-5 mt-3" method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="row">
            <div class="col-md-2">    
                {{ field.label_tag }}

                {% if field.help_text %}
                    <sup>{{ field.help_text }}</sup>
                {% endif %}

            </div>
            <div class="col-md-10 pull-left">
                {% if field.name == "starting_bid" %}
                    <div class="form-group input-icon">
                        {{ field }}
                        <i>£</i>
                    </div>
                {% else %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                {% endif %}

                {{ field.errors }}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-2">  
            <button type="submit" class="btn btn-info form-control">Save</button>
        </div>
        {% if message %}
            <div  class="col-md-10 pull-left">{{ message }}</div>
        {% endif %}
    </div>
    
</form>

{% endblock %}