
/* layout.html 
********************************/
html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}
body {
    margin-bottom: 60px; /* bottom margin == footer height */
    background-color: rgba(238, 238, 228, 1);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* fix footer height */
    line-height: 60px; /* vertically center text */
    /* background-color: #f5f5f5; */
}
body > .container {
    padding: 74px 0 60px 0;
}
#main-nav {
    background-color: white;
    border-bottom:1px solid rgba(34, 28, 36, 0.74);
}


/* store.html 
********************************/

/*  Count Input
*********************/

#count-items-view {
    max-width: 575px;
}

.btn-group > button {
    width: 50%;
}

/*  Items Table
*********************/
#table-view {
    overflow-y: auto;
    background-color: white;
}
#items-table .items-table-header {
    text-align: center;
    min-width: 70px;
}
#items-table .items-table-header {
    text-align: center;
    min-width: 70px;
}
#items-table .selectable-enabled {
    background-color: white;
    color: var(--primary);
}
#items-table .selectable-enabled:hover {
    cursor: pointer;
    /* background-color: rgba(16, 125, 246, 0.46); */
    background-color: rgba(51, 153, 255, 0.7);
    color: white;; 
}
#items-table .selected.selectable-enabled {
    background-color:var(--primary); 
    color: white;
}
#items-table .selected.selectable-enabled:hover {
    cursor: pointer;
    background-color: rgba(51, 153, 255, 0.7);
    color: white; 
}




/* media queries 
********************************/

/* Portrait */

@media only screen and (min-width : 300px) and (orientation: portrait) {
    #table-view { height: 320px;  }
}
@media only screen and (min-width : 350px) and (orientation: portrait) {
    #table-view { height: 400px;  }
}
@media only screen and (min-width : 400px) and (orientation: portrait) {
    #table-view { height: 480px;  }
}

/* Landscape */

/* @media only screen and (min-width : 550px) and (orientation: landscape) {
    #table-view { height: 80px;  }
} */
/* @media only screen and (min-width : 650px) and (orientation: landscape) {
    #table-view { height: 130px;  }
}
@media only screen and (min-width : 700px) and (orientation: landscape) {
    #table-view { height: 175px;  }
} */
@media only screen and (min-width : 1000px) and (orientation: landscape) {
    #table-view { height: 480px;  }
}


