{% extends "stocklist/layout.html" %}

{% block body %}

    <h2>{{page_title}}</h2>

    <form id="store-form" action="{% url 'index' %}" method="post">
        <div class="row align-items-center">
            <div class="col-sm-12 my-1">
                {% csrf_token %}
                {{ store_name_form }}
            </div>
            <div class="col-sm-12 my-1">
                <input type="submit" value="Save" class="btn btn-primary form-control mx-auto my-1"></input>
            </div>
        </div>
    </form>

{% endblock %}