{% extends "stocklist/layout.html" %}

{% block body %}

    <h2>{{page_title}}</h2>

    <form id="store-form" action="{% url 'index' %}" method="post">
        <div id="store-form-view" class="row align-items-center pt-3">
            <label for="store-form" class="form-label text-secondary px-3" style="font-size:21px;">Store Name:</label>
            <div class="col-sm-12 my-1">
                {% csrf_token %}
                {{ store_name_form }}
            </div>
            <div class="col-sm-12 my-1">
                <input type="submit" value="Save" class="btn btn-primary form-control "></input>
            </div>
            {% if message %}
                <!-- error message -->
                <div id="error-message" class="error mt-2">{{ message }}</div>
            {% endif %}
        </div>
    </form>

{% endblock %}