{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Stocklist{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation -->
        <!-- todo -->

        <!-- Main -->
        <main role="main" class="container">
            <div class="container-fluid">

                {% block body %}
                {% endblock %}

            </div>
        </main>

        <!-- Footer -->
        <!-- todo -->
    </body>
</html>