{% extends "stocklist/layout.html" %}

{% block body %}

    <h2>{{page_title}}</h2>

    <div class="card" style="max-width: 23rem;">
        <div class="card-body">
            <form id="store-form" action="{% url 'store' %}" method="post">
                <div class="row align-items-center">
                    <div class="col-sm-12 my-1">
                        {% csrf_token %}
                        {{ store_name_form }}
                    </div>
                    <div class="col-sm-12 my-1">
                        {{ stock_period_form }}
                    </div>
                    <div class="col-sm-12 my-1">
                        {{ stocktake_form }}
                    </div>
                    <div class="col-sm-12 my-1">
                        <input type="submit" value="Save" class="btn btn-primary form-control mx-auto my-1"></input>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}