/* inbox.html */
textarea {
    min-height: 355px;
    margin: 0 0 10px 0;
}

#logout {
    float: right;
}


/* inbox.js */
.section {
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin: 0 0 10px 0;
    padding: 10px 15px 5px 15px;
}

.grey {
    background-color: lightgrey;
}

#subject {
    line-height: 200%;
}

.timestamp {
    float: right;
    font-size: 15px;
}

.email_body {
    min-height: 500px;
}

.reply {
    float: right;
}


