/* inbox.html 
********************************/
textarea {
    min-height: 355px;
    margin: 0 0 10px 0;
}

#logout {
    float: right;
}

#user {
    margin: 15px 0 0 0;
    padding: 5px;
}


/* inbox.js 
********************************/
.section {
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin: 0 0 10px 0;
    padding: 10px 15px 5px 15px;
}

.grey {
    background-color: lightgrey;
}

#timestamp {
    float: right;
    font-size: 15px;
}

#subject {
    line-height: 200%;
}

#email_body {
    min-height: 500px;
    white-space: pre-wrap;
}

.reply {
    float: right;
}


/* media queries 
********************************/
@media only screen and (min-width : 992px) {
    .container { max-width: 800px; }
}

@media only screen and (max-width : 450px) {
    #logout {
        float: left;
    }

    #user {
        font-size: 20px;
    }
}