
/* newpost.html 
********************************/
#new-post-view {
    margin-top: 10px;
}

/* index.html 
********************************/
#update-post-button {
    float: right;
}

/* #follow-user-button {
    margin-top: 25px;
} */

#page-heading {
    margin-top: 25px;
    margin-bottom: 20px;
}

#followers-count-div {
    padding-bottom: 10px;
}

/* network.js 
********************************/
#save-updated-post-button {
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}